<?php

declare(strict_types=1);

/*
 * AdyenApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenApIsLib\Apis;

use AdyenApIsLib\Exceptions\RestServiceErrorException;
use AdyenApIsLib\Http\ApiResponse;
use AdyenApIsLib\Models\AllowedOrigin;
use AdyenApIsLib\Models\AllowedOriginsResponse;
use AdyenApIsLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class AllowedOriginsCompanyLevelApi extends BaseApi
{
    /**
     * Returns the list of [allowed origins](https://docs.adyen.com/development-resources/client-side-
     * authentication#allowed-origins) for the API credential identified in the path.
     *
     * To make this request, your API credential must have the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—API credentials read and write
     *
     * @param string $companyId The unique identifier of the company account.
     * @param string $apiCredentialId Unique identifier of the API credential.
     *
     * @return ApiResponse Response from the API call
     */
    public function getCompaniesCompanyIdApiCredentialsApiCredentialIdAllowedOrigins(
        string $companyId,
        string $apiCredentialId
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/companies/{companyId}/apiCredentials/{apiCredentialId}/allowedOrigins'
        )
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId)->required(),
                TemplateParam::init('apiCredentialId', $apiCredentialId)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(AllowedOriginsResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Adds a new [allowed origin](https://docs.adyen.com/development-resources/client-side-
     * authentication#allowed-origins) to the API credential's list of allowed origins.
     *
     * To make this request, your API credential must have the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—API credentials read and write
     *
     * @param string $companyId The unique identifier of the company account.
     * @param string $apiCredentialId Unique identifier of the API credential.
     * @param AllowedOrigin|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function postCompaniesCompanyIdApiCredentialsApiCredentialIdAllowedOrigins(
        string $companyId,
        string $apiCredentialId,
        ?AllowedOrigin $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/companies/{companyId}/apiCredentials/{apiCredentialId}/allowedOrigins'
        )
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId)->required(),
                TemplateParam::init('apiCredentialId', $apiCredentialId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(AllowedOrigin::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Removes the [allowed origin](https://docs.adyen.com/development-resources/client-side-
     * authentication#allowed-origins) identified in the path. As soon as an allowed origin is removed, we
     * no longer accept client-side requests from that domain.
     *
     * To make this request, your API credential must have the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—API credentials read and write
     *
     * @param string $companyId The unique identifier of the company account.
     * @param string $apiCredentialId Unique identifier of the API credential.
     * @param string $originId Unique identifier of the allowed origin.
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteCompaniesCompanyIdApiCredentialsApiCredentialIdAllowedOriginsOriginId(
        string $companyId,
        string $apiCredentialId,
        string $originId
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::DELETE,
            '/companies/{companyId}/apiCredentials/{apiCredentialId}/allowedOrigins/{originId}'
        )
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId)->required(),
                TemplateParam::init('apiCredentialId', $apiCredentialId)->required(),
                TemplateParam::init('originId', $originId)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the [allowed origin](https://docs.adyen.com/development-resources/client-side-
     * authentication#allowed-origins) identified in the path.
     *
     * To make this request, your API credential must have the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—API credentials read and write
     *
     * @param string $companyId The unique identifier of the company account.
     * @param string $apiCredentialId Unique identifier of the API credential.
     * @param string $originId Unique identifier of the allowed origin.
     *
     * @return ApiResponse Response from the API call
     */
    public function getCompaniesCompanyIdApiCredentialsApiCredentialIdAllowedOriginsOriginId(
        string $companyId,
        string $apiCredentialId,
        string $originId
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/companies/{companyId}/apiCredentials/{apiCredentialId}/allowedOrigins/{originId}'
        )
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId)->required(),
                TemplateParam::init('apiCredentialId', $apiCredentialId)->required(),
                TemplateParam::init('originId', $originId)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(AllowedOrigin::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
