<?php

declare(strict_types=1);

/*
 * AdyenApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenApIsLib\Apis;

use AdyenApIsLib\Exceptions\RestServiceErrorException;
use AdyenApIsLib\Http\ApiResponse;
use AdyenApIsLib\Models\CompanyApiCredential;
use AdyenApIsLib\Models\CreateCompanyApiCredentialRequest;
use AdyenApIsLib\Models\CreateCompanyApiCredentialResponse;
use AdyenApIsLib\Models\ListCompanyApiCredentialsResponse;
use AdyenApIsLib\Models\UpdateCompanyApiCredentialRequest;
use AdyenApIsLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class ApiCredentialsCompanyLevelApi extends BaseApi
{
    /**
     * Returns the list of [API credentials](https://docs.adyen.com/development-resources/api-credentials)
     * for the company account. The list is grouped into pages as defined by the query parameters.
     *
     * To make this request, your API credential must have the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—API credentials read and write
     *
     * @param string $companyId The unique identifier of the company account.
     * @param int|null $pageNumber The number of the page to fetch.
     * @param int|null $pageSize The number of items to have on a page, maximum 100. The default is
     *        10 items on a page.
     *
     * @return ApiResponse Response from the API call
     */
    public function getCompaniesCompanyIdApiCredentials(
        string $companyId,
        ?int $pageNumber = null,
        ?int $pageSize = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/companies/{companyId}/apiCredentials')
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId)->required(),
                QueryParam::init('pageNumber', $pageNumber),
                QueryParam::init('pageSize', $pageSize)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(ListCompanyApiCredentialsResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Creates an [API credential](https://docs.adyen.com/development-resources/api-credentials) for the
     * company account identified in the path. In the request, you can specify which merchant accounts the
     * new API credential will have access to, as well as its roles and allowed origins.
     *
     * The response includes several types of authentication details:
     * * [API key](https://docs.adyen.com/development-resources/api-authentication#api-key-authentication):
     * used for API request authentication.
     * * [Client key](https://docs.adyen.com/development-resources/client-side-authentication#how-it-works):
     * public key used for client-side authentication.
     * * [Username and password](https://docs.adyen.com/development-resources/api-authentication#using-
     * basic-authentication): used for basic authentication.
     *
     * > Make sure you store the API key securely in your system. You won't be able to retrieve it later.
     *
     * If your API key is lost or compromised, you need to [generate a new API key](https://docs.adyen.
     * com/api-
     * explorer/#/ManagementService/v1/post/companies/{companyId}/apiCredentials/{apiCredentialId}/generate
     * ApiKey).
     *
     * To make this request, your API credential must have the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—API credentials read and write
     *
     * @param string $companyId The unique identifier of the company account.
     * @param CreateCompanyApiCredentialRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function postCompaniesCompanyIdApiCredentials(
        string $companyId,
        ?CreateCompanyApiCredentialRequest $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/companies/{companyId}/apiCredentials')
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(CreateCompanyApiCredentialResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the [API credential](https://docs.adyen.com/development-resources/api-credentials)
     * identified in the path.
     *
     * To make this request, your API credential must have the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—API credentials read and write
     *
     * @param string $companyId The unique identifier of the company account.
     * @param string $apiCredentialId Unique identifier of the API credential.
     *
     * @return ApiResponse Response from the API call
     */
    public function getCompaniesCompanyIdApiCredentialsApiCredentialId(
        string $companyId,
        string $apiCredentialId
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/companies/{companyId}/apiCredentials/{apiCredentialId}'
        )
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId)->required(),
                TemplateParam::init('apiCredentialId', $apiCredentialId)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(CompanyApiCredential::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Changes the API credential's roles, merchant account access, or allowed origins. The request has the
     * new values for the fields you want to change. The response contains the full updated API credential,
     * including the new values from the request.
     *
     * To make this request, your API credential must have the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—API credentials read and write
     *
     * @param string $companyId The unique identifier of the company account.
     * @param string $apiCredentialId Unique identifier of the API credential.
     * @param UpdateCompanyApiCredentialRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function patchCompaniesCompanyIdApiCredentialsApiCredentialId(
        string $companyId,
        string $apiCredentialId,
        ?UpdateCompanyApiCredentialRequest $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::PATCH,
            '/companies/{companyId}/apiCredentials/{apiCredentialId}'
        )
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId)->required(),
                TemplateParam::init('apiCredentialId', $apiCredentialId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(CompanyApiCredential::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
