<?php

declare(strict_types=1);

/*
 * AdyenApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenApIsLib\Apis;

use AdyenApIsLib\Exceptions\ServiceErrorException;
use AdyenApIsLib\Http\ApiResponse;
use AdyenApIsLib\Models\PaymentAmountUpdateRequest;
use AdyenApIsLib\Models\PaymentAmountUpdateResponse;
use AdyenApIsLib\Models\PaymentCancelRequest;
use AdyenApIsLib\Models\PaymentCancelResponse;
use AdyenApIsLib\Models\PaymentCaptureRequest;
use AdyenApIsLib\Models\PaymentCaptureResponse;
use AdyenApIsLib\Models\PaymentRefundRequest;
use AdyenApIsLib\Models\PaymentRefundResponse;
use AdyenApIsLib\Models\PaymentReversalRequest;
use AdyenApIsLib\Models\PaymentReversalResponse;
use AdyenApIsLib\Models\StandalonePaymentCancelRequest;
use AdyenApIsLib\Models\StandalonePaymentCancelResponse;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class ModificationsApi extends BaseApi
{
    /**
     * Cancels the authorisation on a payment that has not yet been [captured](https://docs.adyen.com/api-
     * explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/captures), and returns a
     * unique reference for this request. You get the outcome of the request asynchronously, in a
     * [**TECHNICAL_CANCEL** webhook](https://docs.adyen.com/online-payments/cancel#cancellation-webhook).
     *
     * If you want to cancel a payment using the [`pspReference`](https://docs.adyen.com/api-
     * explorer/Checkout/latest/post/payments#responses-200-pspReference), use the
     * [`/payments/{paymentPspReference}/cancels`](https://docs.adyen.com/api-
     * explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/cancels) endpoint instead.
     *
     * If you want to cancel a payment but are not sure whether it has been captured, use the
     * [`/payments/{paymentPspReference}/reversals`](https://docs.adyen.com/api-
     * explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/reversals) endpoint instead.
     *
     * For more information, refer to [Cancel](https://docs.adyen.com/online-payments/cancel).
     *
     * @param string|null $idempotencyKey A unique identifier for the message with a maximum of 64
     *        characters (we recommend a UUID).
     * @param StandalonePaymentCancelRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function postCancels(
        ?string $idempotencyKey = null,
        ?StandalonePaymentCancelRequest $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/cancels')
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('Idempotency-Key', $idempotencyKey),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('Unprocessable Entity - a request validation error.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorException::class
                )
            )
            ->type(StandalonePaymentCancelResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Increases or decreases the authorised payment amount and returns a unique reference for this request.
     * You get the outcome of the request asynchronously, in an [**AUTHORISATION_ADJUSTMENT**
     * webhook](https://docs.adyen.com/development-resources/webhooks/webhook-types/#event-codes).
     *
     * You can only update authorised amounts that have not yet been [captured](https://docs.adyen.com/api-
     * explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/captures).
     *
     * The amount you specify in the request is the updated amount, which is larger or smaller than the
     * initial authorised amount.
     *
     * For more information, refer to [Authorisation adjustment](https://docs.adyen.com/online-
     * payments/adjust-authorisation#use-cases).
     *
     * @param string $paymentPspReference The
     *        [`pspReference`](https://docs.adyen.com/api-
     *        explorer/Checkout/latest/post/payments#responses-200-pspReference) of the payment.
     * @param string|null $idempotencyKey A unique identifier for the message with a maximum of 64
     *        characters (we recommend a UUID).
     * @param PaymentAmountUpdateRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function postPaymentsPaymentPspReferenceAmountUpdates(
        string $paymentPspReference,
        ?string $idempotencyKey = null,
        ?PaymentAmountUpdateRequest $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/payments/{paymentPspReference}/amountUpdates')
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('paymentPspReference', $paymentPspReference)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('Idempotency-Key', $idempotencyKey),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('Unprocessable Entity - a request validation error.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorException::class
                )
            )
            ->type(PaymentAmountUpdateResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Cancels the authorisation on a payment that has not yet been [captured](https://docs.adyen.com/api-
     * explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/captures), and returns a
     * unique reference for this request. You get the outcome of the request asynchronously, in a
     * [**CANCELLATION** webhook](https://docs.adyen.com/online-payments/cancel#cancellation-webhook).
     *
     * If you want to cancel a payment but don't have the [`pspReference`](https://docs.adyen.com/api-
     * explorer/Checkout/latest/post/payments#responses-200-pspReference), use the [`/cancels`](https:
     * //docs.adyen.com/api-explorer/#/CheckoutService/latest/post/cancels) endpoint instead.
     *
     * If you want to cancel a payment but are not sure whether it has been captured, use the
     * [`/payments/{paymentPspReference}/reversals`](https://docs.adyen.com/api-
     * explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/reversals) endpoint instead.
     *
     * For more information, refer to [Cancel](https://docs.adyen.com/online-payments/cancel).
     *
     * @param string $paymentPspReference The
     *        [`pspReference`](https://docs.adyen.com/api-
     *        explorer/Checkout/latest/post/payments#responses-200-pspReference) of the payment
     *        that you want to cancel.
     * @param string|null $idempotencyKey A unique identifier for the message with a maximum of 64
     *        characters (we recommend a UUID).
     * @param PaymentCancelRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function postPaymentsPaymentPspReferenceCancels(
        string $paymentPspReference,
        ?string $idempotencyKey = null,
        ?PaymentCancelRequest $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/payments/{paymentPspReference}/cancels')
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('paymentPspReference', $paymentPspReference)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('Idempotency-Key', $idempotencyKey),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('Unprocessable Entity - a request validation error.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorException::class
                )
            )
            ->type(PaymentCancelResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Captures an authorised payment and returns a unique reference for this request. You get the outcome
     * of the request asynchronously, in a [**CAPTURE** webhook](https://docs.adyen.com/online-
     * payments/capture#capture-notification).
     *
     * You can capture either the full authorised amount or a part of the authorised amount. By default,
     * any unclaimed amount after a partial capture gets cancelled. This does not apply if you enabled
     * multiple partial captures on your account and the payment method supports multiple partial captures.
     *
     * [Automatic capture](https://docs.adyen.com/online-payments/capture#automatic-capture) is the default
     * setting for most payment methods. In these cases, you don't need to make capture requests. However,
     * making capture requests for payments that are captured automatically does not result in double
     * charges.
     *
     * For more information, refer to [Capture](https://docs.adyen.com/online-payments/capture).
     *
     * @param string $paymentPspReference The
     *        [`pspReference`](https://docs.adyen.com/api-
     *        explorer/Checkout/latest/post/payments#responses-200-pspReference) of the payment
     *        that you want to capture.
     * @param string|null $idempotencyKey A unique identifier for the message with a maximum of 64
     *        characters (we recommend a UUID).
     * @param PaymentCaptureRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function postPaymentsPaymentPspReferenceCaptures(
        string $paymentPspReference,
        ?string $idempotencyKey = null,
        ?PaymentCaptureRequest $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/payments/{paymentPspReference}/captures')
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('paymentPspReference', $paymentPspReference)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('Idempotency-Key', $idempotencyKey),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('Unprocessable Entity - a request validation error.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorException::class
                )
            )
            ->type(PaymentCaptureResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Refunds a payment that has been [captured](https://docs.adyen.com/api-
     * explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/captures), and returns a
     * unique reference for this request. You get the outcome of the request asynchronously, in a
     * [**REFUND** webhook](https://docs.adyen.com/online-payments/refund#refund-webhook).
     *
     * You can refund either the full captured amount or a part of the captured amount. You can also
     * perform multiple partial refunds, as long as their sum doesn't exceed the captured amount.
     *
     * > Some payment methods do not support partial refunds. To learn if a payment method supports partial
     * refunds, refer to the payment method page such as [cards](https://docs.adyen.com/payment-
     * methods/cards#supported-cards), [iDEAL](https://docs.adyen.com/payment-methods/ideal), or
     * [Klarna](https://docs.adyen.com/payment-methods/klarna).
     *
     * If you want to refund a payment but are not sure whether it has been captured, use the
     * [`/payments/{paymentPspReference}/reversals`](https://docs.adyen.com/api-
     * explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/reversals) endpoint instead.
     *
     * For more information, refer to [Refund](https://docs.adyen.com/online-payments/refund).
     *
     * @param string $paymentPspReference The
     *        [`pspReference`](https://docs.adyen.com/api-
     *        explorer/Checkout/latest/post/payments#responses-200-pspReference) of the payment
     *        that you want to refund.
     * @param string|null $idempotencyKey A unique identifier for the message with a maximum of 64
     *        characters (we recommend a UUID).
     * @param PaymentRefundRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function postPaymentsPaymentPspReferenceRefunds(
        string $paymentPspReference,
        ?string $idempotencyKey = null,
        ?PaymentRefundRequest $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/payments/{paymentPspReference}/refunds')
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('paymentPspReference', $paymentPspReference)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('Idempotency-Key', $idempotencyKey),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('Unprocessable Entity - a request validation error.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorException::class
                )
            )
            ->type(PaymentRefundResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * [Refunds](https://docs.adyen.com/api-
     * explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/refunds) a payment if it has
     * already been captured, and [cancels](https://docs.adyen.com/api-
     * explorer/#/CheckoutService/latest/post/payments/{paymentPspReference}/cancels) a payment if it has
     * not yet been captured. Returns a unique reference for this request. You get the outcome of the
     * request asynchronously, in a [**CANCEL_OR_REFUND** webhook](https://docs.adyen.com/online-
     * payments/reversal/#cancel-or-refund-webhook).
     *
     * The reversed amount is always the full payment amount.
     * > Do not use this request for payments that involve multiple partial captures.
     *
     * For more information, refer to [Reversal](https://docs.adyen.com/online-payments/reversal).
     *
     * @param string $paymentPspReference The
     *        [`pspReference`](https://docs.adyen.com/api-
     *        explorer/Checkout/latest/post/payments#responses-200-pspReference) of the payment
     *        that you want to reverse.
     * @param string|null $idempotencyKey A unique identifier for the message with a maximum of 64
     *        characters (we recommend a UUID).
     * @param PaymentReversalRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function postPaymentsPaymentPspReferenceReversals(
        string $paymentPspReference,
        ?string $idempotencyKey = null,
        ?PaymentReversalRequest $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/payments/{paymentPspReference}/reversals')
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('paymentPspReference', $paymentPspReference)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('Idempotency-Key', $idempotencyKey),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('Unprocessable Entity - a request validation error.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorException::class
                )
            )
            ->type(PaymentReversalResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
