<?php

declare(strict_types=1);

/*
 * AdyenApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenApIsLib\Apis;

use AdyenApIsLib\Exceptions\RestServiceErrorException;
use AdyenApIsLib\Http\ApiResponse;
use AdyenApIsLib\Models\AllowedOrigin;
use AdyenApIsLib\Models\AllowedOriginsResponse;
use AdyenApIsLib\Models\CreateAllowedOriginRequest;
use AdyenApIsLib\Models\GenerateClientKeyResponse;
use AdyenApIsLib\Models\MeApiCredential;
use AdyenApIsLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class MyApiCredentialApi extends BaseApi
{
    /**
     * Returns your [API credential](https://docs.adyen.com/development-resources/api-credentials) details
     * based on the API Key you used in the request.
     *
     * You can make this request with any of the Management API roles.
     *
     * @return ApiResponse Response from the API call
     */
    public function getMe(): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/me')
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth');

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(MeApiCredential::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the list of [allowed origins](https://docs.adyen.com/development-resources/client-side-
     * authentication#allowed-origins) of your [API credential](https://docs.adyen.com/development-
     * resources/api-credentials) based on the API key you used in the request.
     *
     * You can make this request with any of the Management API roles.
     *
     * @return ApiResponse Response from the API call
     */
    public function getMeAllowedOrigins(): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/me/allowedOrigins')
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth');

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(AllowedOriginsResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Adds an allowed origin to the list of [allowed origins](https://docs.adyen.com/development-
     * resources/client-side-authentication#allowed-origins) of your API credential.
     * The API key from the request is used to identify the [API credential](https://docs.adyen.
     * com/development-resources/api-credentials).
     *
     * You can make this request with any of the Management API roles.
     *
     * @param CreateAllowedOriginRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function postMeAllowedOrigins(?CreateAllowedOriginRequest $body = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/me/allowedOrigins')
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body));

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(AllowedOrigin::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Removes the [allowed origin](https://docs.adyen.com/development-resources/client-side-
     * authentication#allowed-origins) specified in the path.
     * The API key from the request is used to identify the [API credential](https://docs.adyen.
     * com/development-resources/api-credentials).
     *
     * You can make this request with any of the Management API roles.
     *
     * @param string $originId Unique identifier of the allowed origin.
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteMeAllowedOriginsOriginId(string $originId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/me/allowedOrigins/{originId}')
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('originId', $originId)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the details of the [allowed origin](https://docs.adyen.com/development-resources/client-side-
     * authentication#allowed-origins) specified in the path.
     * The API key from the request is used to identify the [API credential](https://docs.adyen.
     * com/development-resources/api-credentials).
     *
     * You can make this request with any of the Management API roles.
     *
     * @param string $originId Unique identifier of the allowed origin.
     *
     * @return ApiResponse Response from the API call
     */
    public function getMeAllowedOriginsOriginId(string $originId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/me/allowedOrigins/{originId}')
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('originId', $originId)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(AllowedOrigin::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Generates a new [client key](https://docs.adyen.com/development-resources/client-side-
     * authentication/) used to authenticate requests from your payment environment.
     * You can use the new client key a few minutes after generating it.
     * The old client key stops working 24 hours after generating a new one.
     *
     * To make this request, your API credential must have the following [role](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—API credentials read and write
     *
     * @return ApiResponse Response from the API call
     */
    public function postMeGenerateClientKey(): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/me/generateClientKey')
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth');

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(GenerateClientKeyResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
