<?php

declare(strict_types=1);

/*
 * AdyenApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenApIsLib\Apis;

use AdyenApIsLib\Exceptions\ServiceErrorException;
use AdyenApIsLib\Http\ApiResponse;
use AdyenApIsLib\Models\BalanceCheckRequest;
use AdyenApIsLib\Models\BalanceCheckResponse;
use AdyenApIsLib\Models\CancelOrderRequest;
use AdyenApIsLib\Models\CancelOrderResponse;
use AdyenApIsLib\Models\CreateOrderRequest;
use AdyenApIsLib\Models\CreateOrderResponse;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class OrdersApi extends BaseApi
{
    /**
     * Creates an order to be used for partial payments. Make a POST `/orders` call before making a
     * `/payments` call when processing payments with different payment methods.
     *
     * @param string|null $idempotencyKey A unique identifier for the message with a maximum of 64
     *        characters (we recommend a UUID).
     * @param CreateOrderRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function createOrder(?string $idempotencyKey = null, ?CreateOrderRequest $body = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/orders')
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('Idempotency-Key', $idempotencyKey),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('Unprocessable Entity - a request validation error.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorException::class
                )
            )
            ->type(CreateOrderResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Cancels an order. Cancellation of an order results in an automatic rollback of all payments made in
     * the order, either by canceling or refunding the payment, depending on the type of payment method.
     *
     * @param string|null $idempotencyKey A unique identifier for the message with a maximum of 64
     *        characters (we recommend a UUID).
     * @param CancelOrderRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function cancelOrder(?string $idempotencyKey = null, ?CancelOrderRequest $body = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/orders/cancel')
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('Idempotency-Key', $idempotencyKey),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('Unprocessable Entity - a request validation error.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorException::class
                )
            )
            ->type(CancelOrderResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves the balance remaining on a shopper's gift card. To check a gift card's balance, make a
     * POST `/paymentMethods/balance` call and include the gift card's details inside a `paymentMethod`
     * object.
     *
     * @param string|null $idempotencyKey A unique identifier for the message with a maximum of 64
     *        characters (we recommend a UUID).
     * @param BalanceCheckRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function getPaymentMethodBalance(
        ?string $idempotencyKey = null,
        ?BalanceCheckRequest $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/paymentMethods/balance')
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('Idempotency-Key', $idempotencyKey),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('Unprocessable Entity - a request validation error.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorException::class
                )
            )
            ->type(BalanceCheckResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
