<?php

declare(strict_types=1);

/*
 * AdyenApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenApIsLib\Apis;

use AdyenApIsLib\Exceptions\ServiceErrorException;
use AdyenApIsLib\Http\ApiResponse;
use AdyenApIsLib\Models\PaymentLinkRequest;
use AdyenApIsLib\Models\PaymentLinkResponse;
use AdyenApIsLib\Models\UpdatePaymentLinkRequest;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class PaymentLinksApi extends BaseApi
{
    /**
     * Creates a payment link to a [Pay by Link](https://docs.adyen.com/unified-commerce/pay-by-link/) page
     * where the shopper can pay. The list of payment methods presented to the shopper depends on the
     * `currency` and `country` parameters sent in the request.
     *
     * For more information, refer to [Pay by Link documentation](https://docs.adyen.com/online-
     * payments/pay-by-link#create-payment-links-through-api).
     *
     * @param string|null $idempotencyKey A unique identifier for the message with a maximum of 64
     *        characters (we recommend a UUID).
     * @param PaymentLinkRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function postPaymentLinks(?string $idempotencyKey = null, ?PaymentLinkRequest $body = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/paymentLinks')
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('Idempotency-Key', $idempotencyKey),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('Unprocessable Entity - a request validation error.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorException::class
                )
            )
            ->type(PaymentLinkResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Retrieves the payment link details using the payment link `id`.
     *
     * @param string $linkId Unique identifier of the payment link.
     *
     * @return ApiResponse Response from the API call
     */
    public function getPaymentLinksLinkId(string $linkId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/paymentLinks/{linkId}')
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(TemplateParam::init('linkId', $linkId)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('Unprocessable Entity - a request validation error.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorException::class
                )
            )
            ->type(PaymentLinkResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates the status of a payment link. Use this endpoint to [force the expiry of a payment
     * link](https://docs.adyen.com/online-payments/pay-by-link#update-payment-link-status).
     *
     * @param string $linkId Unique identifier of the payment link.
     * @param UpdatePaymentLinkRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function patchPaymentLinksLinkId(string $linkId, ?UpdatePaymentLinkRequest $body = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/paymentLinks/{linkId}')
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('linkId', $linkId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('Unprocessable Entity - a request validation error.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorException::class
                )
            )
            ->type(PaymentLinkResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
