<?php

declare(strict_types=1);

/*
 * AdyenApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenApIsLib\Apis;

use AdyenApIsLib\Exceptions\RestServiceErrorException;
use AdyenApIsLib\Http\ApiResponse;
use AdyenApIsLib\Models\ApplePayInfo;
use AdyenApIsLib\Models\PaymentMethod1;
use AdyenApIsLib\Models\PaymentMethodResponse;
use AdyenApIsLib\Models\PaymentMethodSetupInfo;
use AdyenApIsLib\Models\UpdatePaymentMethodInfo;
use AdyenApIsLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class PaymentMethodsMerchantLevelApi extends BaseApi
{
    /**
     * Returns details for all payment methods of the merchant account identified in the path.
     *
     * To make this request, your API credential must have the following [role](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Payment methods read
     *
     *
     * @param string $merchantId The unique identifier of the merchant account.
     * @param string|null $storeId The unique identifier of the store for which to return the
     *        payment methods.
     * @param string|null $businessLineId The unique identifier of the Business Line for which to
     *        return the payment methods.
     * @param int|null $pageSize The number of items to have on a page, maximum 100. The default is
     *        10 items on a page.
     * @param int|null $pageNumber The number of the page to fetch.
     *
     * @return ApiResponse Response from the API call
     */
    public function listPaymentMethodSettings(
        string $merchantId,
        ?string $storeId = null,
        ?string $businessLineId = null,
        ?int $pageSize = null,
        ?int $pageNumber = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/merchants/{merchantId}/paymentMethodSettings')
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('merchantId', $merchantId)->required(),
                QueryParam::init('storeId', $storeId),
                QueryParam::init('businessLineId', $businessLineId),
                QueryParam::init('pageSize', $pageSize),
                QueryParam::init('pageNumber', $pageNumber)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn('429', ErrorType::init('', RestServiceErrorException::class))
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(PaymentMethodResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Sends a request to add a new payment method to the merchant account identified in the path.
     * Depending the payment method [`type`](https://docs.adyen.com/api-
     * explorer/Management/latest/post/merchants/_merchantId_/paymentMethodSettings#request-type), you may
     * need to send an additional object required for the payment method.
     *
     * To make this request, your API credential must have the following [role](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Payment methods read and write
     *
     *
     * @param string $merchantId The unique identifier of the merchant account.
     * @param PaymentMethodSetupInfo|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function createPaymentMethodSetting(string $merchantId, ?PaymentMethodSetupInfo $body = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/merchants/{merchantId}/paymentMethodSettings')
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('merchantId', $merchantId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn('429', ErrorType::init('', RestServiceErrorException::class))
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(PaymentMethod1::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns details for the merchant account and the payment method identified in the path.
     *
     * To make this request, your API credential must have the following [role](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Payment methods read
     *
     *
     * @param string $merchantId The unique identifier of the merchant account.
     * @param string $paymentMethodId The unique identifier of the payment method.
     *
     * @return ApiResponse Response from the API call
     */
    public function getPaymentMethodSetting(string $merchantId, string $paymentMethodId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/merchants/{merchantId}/paymentMethodSettings/{paymentMethodId}'
        )
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('merchantId', $merchantId)->required(),
                TemplateParam::init('paymentMethodId', $paymentMethodId)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn('429', ErrorType::init('', RestServiceErrorException::class))
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(PaymentMethod1::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates payment method details for the merchant account and the payment method identified in the
     * path.
     * Depending the payment method [`type`](https://docs.adyen.com/api-
     * explorer/Management/latest/patch/merchants/_merchantId_/paymentMethodSettings#request-type), you may
     * need to send an additional object required for the payment method.
     *
     * To make this request, your API credential must have the following [role](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Payment methods read and write
     *
     *
     * @param string $merchantId The unique identifier of the merchant account.
     * @param string $paymentMethodId The unique identifier of the payment method.
     * @param UpdatePaymentMethodInfo|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function updatePaymentMethodSetting(
        string $merchantId,
        string $paymentMethodId,
        ?UpdatePaymentMethodInfo $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::PATCH,
            '/merchants/{merchantId}/paymentMethodSettings/{paymentMethodId}'
        )
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('merchantId', $merchantId)->required(),
                TemplateParam::init('paymentMethodId', $paymentMethodId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn('429', ErrorType::init('', RestServiceErrorException::class))
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(PaymentMethod1::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Adds the new domain to the list of Apple Pay domains that are registered with the merchant account
     * and the payment method identified in the path. For more information, see [Apple Pay
     * documentation](https://docs.adyen.com/payment-methods/apple-pay/web-drop-in/?tab=adyen-certificate-
     * live_1#going-live).
     *
     * To make this request, your API credential must have the following [role](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Payment methods read and write
     *
     *
     * @param string $merchantId The unique identifier of the merchant account.
     * @param string $paymentMethodId The unique identifier of the payment method.
     * @param ApplePayInfo|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function addApplePayDomains(
        string $merchantId,
        string $paymentMethodId,
        ?ApplePayInfo $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/merchants/{merchantId}/paymentMethodSettings/{paymentMethodId}/addApplePayDomains'
        )
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('merchantId', $merchantId)->required(),
                TemplateParam::init('paymentMethodId', $paymentMethodId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn('429', ErrorType::init('', RestServiceErrorException::class))
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns all Apple Pay domains that are registered with the merchant account and the payment method
     * identified in the path. For more information, see [Apple Pay documentation](https://docs.adyen.
     * com/payment-methods/apple-pay/enable-apple-pay#register-merchant-domain).
     *
     * To make this request, your API credential must have the following [role](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Payment methods read
     *
     *
     * @param string $merchantId The unique identifier of the merchant account.
     * @param string $paymentMethodId The unique identifier of the payment method.
     *
     * @return ApiResponse Response from the API call
     */
    public function getApplePayDomains(string $merchantId, string $paymentMethodId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/merchants/{merchantId}/paymentMethodSettings/{paymentMethodId}/getApplePayDomains'
        )
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('merchantId', $merchantId)->required(),
                TemplateParam::init('paymentMethodId', $paymentMethodId)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(ApplePayInfo::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
