<?php

declare(strict_types=1);

/*
 * AdyenApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenApIsLib\Apis;

use AdyenApIsLib\Http\ApiResponse;
use AdyenApIsLib\Models\CheckoutForwardRequest;
use AdyenApIsLib\Models\CheckoutForwardResponse;
use AdyenApIsLib\Models\ListStoredPaymentMethodsResponse;
use AdyenApIsLib\Models\StoredPaymentMethodRequest;
use AdyenApIsLib\Models\StoredPaymentMethodResource;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use CoreInterfaces\Core\Request\RequestMethod;

class RecurringApi extends BaseApi
{
    /**
     * Forwards the payment details you stored with Adyen to a third-party that you specify and returns the
     * response from the third-party. Supports forwarding stored card details or [network tokens](https:
     * //docs.adyen.com/online-payments/network-tokenization). For more information, see [Forward stored
     * payment details](https://docs.adyen.com/online-payments/tokenization/forward-payment-details).
     *
     * @param string|null $idempotencyKey A unique identifier for the message with a maximum of 64
     *        characters (we recommend a UUID).
     * @param CheckoutForwardRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function forwardRequest(?string $idempotencyKey = null, ?CheckoutForwardRequest $body = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/forward')
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('Idempotency-Key', $idempotencyKey),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()->type(CheckoutForwardResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Lists the tokens for stored payment details for the shopper identified in the path, if there are any
     * available. The token ID can be used with payment requests for the shopper's payment. A summary of
     * the stored details is included.
     *
     *
     *
     * @param string|null $shopperReference Your reference to uniquely identify this shopper, for
     *        example user ID or account ID. Minimum length: 3 characters.
     *        > Your reference must not include personally identifiable information (PII), for
     *        example name or email address.
     * @param string|null $merchantAccount Your merchant account.
     *
     * @return ApiResponse Response from the API call
     */
    public function listStoredPaymentMethods(
        ?string $shopperReference = null,
        ?string $merchantAccount = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/storedPaymentMethods')
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                QueryParam::init('shopperReference', $shopperReference),
                QueryParam::init('merchantAccount', $merchantAccount)
            );

        $_resHandler = $this->responseHandler()->type(ListStoredPaymentMethodsResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Creates a token to store the shopper's payment details. This token can be used for the shopper's
     * future payments.
     *
     * @param string|null $idempotencyKey A unique identifier for the message with a maximum of 64
     *        characters (we recommend a UUID).
     * @param StoredPaymentMethodRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function createStoredPaymentMethod(
        ?string $idempotencyKey = null,
        ?StoredPaymentMethodRequest $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/storedPaymentMethods')
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('Idempotency-Key', $idempotencyKey),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()->type(StoredPaymentMethodResource::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Deletes the token identified in the path. The token can no longer be used with payment requests.
     *
     * @param string $storedPaymentMethodId The unique identifier of the token.
     * @param string $shopperReference Your reference to uniquely identify this shopper, for example
     *        user ID or account ID. Minimum length: 3 characters.
     *        > Your reference must not include personally identifiable information (PII), for
     *        example name or email address.
     * @param string $merchantAccount Your merchant account.
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteStoredPaymentMethod(
        string $storedPaymentMethodId,
        string $shopperReference,
        string $merchantAccount
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::DELETE,
            '/storedPaymentMethods/{storedPaymentMethodId}'
        )
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('storedPaymentMethodId', $storedPaymentMethodId)->required(),
                QueryParam::init('shopperReference', $shopperReference)->required(),
                QueryParam::init('merchantAccount', $merchantAccount)->required()
            );

        $_resHandler = $this->responseHandler()->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
