<?php

declare(strict_types=1);

/*
 * AdyenApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenApIsLib\Apis;

use AdyenApIsLib\Exceptions\RestServiceErrorException;
use AdyenApIsLib\Http\ApiResponse;
use AdyenApIsLib\Models\ExternalTerminalAction;
use AdyenApIsLib\Models\ListExternalTerminalActionsResponse;
use AdyenApIsLib\Server;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class TerminalActionsCompanyLevelApi extends BaseApi
{
    /**
     * Returns the [terminal actions](https://docs.adyen.com/point-of-sale/automating-terminal-
     * management/terminal-actions-api) that have been scheduled for the company identified in the path.The
     * response doesn't include actions that are scheduled by Adyen.
     * To make this request, your API credential must have one of the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Terminal actions read
     * * Management API—Terminal actions read and write
     *
     * In the live environment, requests to this endpoint are subject to [rate limits](https://docs.adyen.
     * com/point-of-sale/automating-terminal-management#rate-limits-in-the-live-environment).
     *
     * @param string $companyId The unique identifier of the company account.
     * @param int|null $pageNumber The number of the page to fetch.
     * @param int|null $pageSize The number of items to have on a page, maximum 100. The default is
     *        20 items on a page.
     * @param string|null $status Returns terminal actions with the specified status. Allowed
     *        values: **pending**, **successful**, **failed**, **cancelled**, **tryLater**.
     * @param string|null $type Returns terminal actions of the specified type. Allowed values:
     *        **InstallAndroidApp**, **UninstallAndroidApp**, **InstallAndroidCertificate**,
     *        **UninstallAndroidCertificate**.
     *
     * @return ApiResponse Response from the API call
     */
    public function listCompanyTerminalActions(
        string $companyId,
        ?int $pageNumber = null,
        ?int $pageSize = null,
        ?string $status = null,
        ?string $type = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/companies/{companyId}/terminalActions')
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId)->required(),
                QueryParam::init('pageNumber', $pageNumber),
                QueryParam::init('pageSize', $pageSize),
                QueryParam::init('status', $status),
                QueryParam::init('type', $type)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(ListExternalTerminalActionsResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the details of the [terminal action](https://docs.adyen.com/point-of-sale/automating-
     * terminal-management/terminal-actions-api) identified in the path.
     * To make this request, your API credential must have one of the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Terminal actions read
     * * Management API—Terminal actions read and write
     *
     * In the live environment, requests to this endpoint are subject to [rate limits](https://docs.adyen.
     * com/point-of-sale/automating-terminal-management#rate-limits-in-the-live-environment).
     *
     * @param string $companyId The unique identifier of the company account.
     * @param string $actionId The unique identifier of the terminal action.
     *
     * @return ApiResponse Response from the API call
     */
    public function getCompanyTerminalAction(string $companyId, string $actionId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::GET,
            '/companies/{companyId}/terminalActions/{actionId}'
        )
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId)->required(),
                TemplateParam::init('actionId', $actionId)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(ExternalTerminalAction::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
