<?php

declare(strict_types=1);

/*
 * AdyenApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenApIsLib\Apis;

use AdyenApIsLib\Exceptions\RestServiceErrorException;
use AdyenApIsLib\Http\ApiResponse;
use AdyenApIsLib\Models\ListTerminalsResponse;
use AdyenApIsLib\Models\TerminalReassignmentRequest;
use AdyenApIsLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class TerminalsTerminalLevelApi extends BaseApi
{
    /**
     * Returns the payment terminals that the API credential has access to and that match the query
     * parameters.
     * To make this request, your API credential must have the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API — Terminal actions read
     *
     * In the live environment, requests to this endpoint are subject to [rate limits](https://docs.adyen.
     * com/point-of-sale/automating-terminal-management#rate-limits-in-the-live-environment).
     *
     * @param string|null $searchQuery Returns terminals with an ID that contains the specified
     *        string. If present, other query parameters are ignored.
     * @param string|null $otpQuery Returns one or more terminals associated with the one-time
     *        passwords specified in the request. If this query parameter is used, other query
     *        parameters are ignored.
     * @param string|null $countries Returns terminals located in the countries specified by their
     *        [two-letter country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2).
     * @param string|null $merchantIds Returns terminals that belong to the merchant accounts
     *        specified by their unique merchant account ID.
     * @param string|null $storeIds Returns terminals that are assigned to the
     *        [stores](https://docs.adyen.com/api-explorer/#/ManagementService/latest/get/stores)
     *        specified by their unique store ID.
     * @param string|null $brandModels Returns terminals of the
     *        [models](https://docs.adyen.com/api-
     *        explorer/#/ManagementService/latest/get/companies/{companyId}/terminalModels)
     *        specified in the format *brand.model*.
     * @param int|null $pageNumber The number of the page to fetch.
     * @param int|null $pageSize The number of items to have on a page, maximum 100. The default is
     *        20 items on a page.
     *
     * @return ApiResponse Response from the API call
     */
    public function listTerminals(
        ?string $searchQuery = null,
        ?string $otpQuery = null,
        ?string $countries = null,
        ?string $merchantIds = null,
        ?string $storeIds = null,
        ?string $brandModels = null,
        ?int $pageNumber = null,
        ?int $pageSize = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/terminals')
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                QueryParam::init('searchQuery', $searchQuery),
                QueryParam::init('otpQuery', $otpQuery),
                QueryParam::init('countries', $countries),
                QueryParam::init('merchantIds', $merchantIds),
                QueryParam::init('storeIds', $storeIds),
                QueryParam::init('brandModels', $brandModels),
                QueryParam::init('pageNumber', $pageNumber),
                QueryParam::init('pageSize', $pageSize)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(ListTerminalsResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Reassigns a payment terminal to a company account, merchant account, merchant account inventory, or
     * a store.
     *
     * To make this request, your API credential must have the following [role](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Assign Terminal
     *
     * In the live environment, requests to this endpoint are subject to [rate limits](https://docs.adyen.
     * com/point-of-sale/automating-terminal-management#rate-limits-in-the-live-environment).
     *
     * @param string $terminalId The unique identifier of the payment terminal.
     * @param TerminalReassignmentRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function reassignTerminal(string $terminalId, ?TerminalReassignmentRequest $body = null): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/terminals/{terminalId}/reassign')
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('terminalId', $terminalId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
