<?php

declare(strict_types=1);

/*
 * AdyenApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenApIsLib\Apis;

use AdyenApIsLib\Exceptions\RestServiceErrorException;
use AdyenApIsLib\Http\ApiResponse;
use AdyenApIsLib\Models\CreateMerchantUserRequest;
use AdyenApIsLib\Models\CreateUserResponse;
use AdyenApIsLib\Models\ListMerchantUsersResponse;
use AdyenApIsLib\Models\UpdateMerchantUserRequest;
use AdyenApIsLib\Models\User;
use AdyenApIsLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class UsersMerchantLevelApi extends BaseApi
{
    /**
     * Returns a list of users associated with the `merchantId` specified in the path.
     *
     * To make this request, your API credential must have the following [role](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Users read and write
     *
     *
     * @param string $merchantId Unique identifier of the merchant.
     * @param int|null $pageNumber The number of the page to fetch.
     * @param int|null $pageSize The number of items to have on a page. Maximum value is **100**.
     *        The default is **10** items on a page.
     * @param string|null $username The partial or complete username to select all users that match.
     *
     * @return ApiResponse Response from the API call
     */
    public function getMerchantsMerchantIdUsers(
        string $merchantId,
        ?int $pageNumber = null,
        ?int $pageSize = null,
        ?string $username = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/merchants/{merchantId}/users')
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('merchantId', $merchantId)->required(),
                QueryParam::init('pageNumber', $pageNumber),
                QueryParam::init('pageSize', $pageSize),
                QueryParam::init('username', $username)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(ListMerchantUsersResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Creates a user for the `merchantId` specified in the path.
     *
     * To make this request, your API credential must have the following [role](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Users read and write
     *
     *
     * @param string $merchantId Unique identifier of the merchant.
     * @param CreateMerchantUserRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function postMerchantsMerchantIdUsers(
        string $merchantId,
        ?CreateMerchantUserRequest $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/merchants/{merchantId}/users')
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('merchantId', $merchantId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(CreateUserResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns user details for the `userId` and the `merchantId` specified in the path.
     *
     * To make this request, your API credential must have the following [role](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Users read and write
     *
     *
     * @param string $merchantId Unique identifier of the merchant.
     * @param string $userId Unique identifier of the user.
     *
     * @return ApiResponse Response from the API call
     */
    public function getMerchantsMerchantIdUsersUserId(string $merchantId, string $userId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/merchants/{merchantId}/users/{userId}')
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('merchantId', $merchantId)->required(),
                TemplateParam::init('userId', $userId)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(User::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates user details for the `userId` and the `merchantId` specified in the path.
     *
     * To make this request, your API credential must have the following [role](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Users read and write
     *
     *
     * @param string $merchantId Unique identifier of the merchant.
     * @param string $userId Unique identifier of the user.
     * @param UpdateMerchantUserRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function patchMerchantsMerchantIdUsersUserId(
        string $merchantId,
        string $userId,
        ?UpdateMerchantUserRequest $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/merchants/{merchantId}/users/{userId}')
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('merchantId', $merchantId)->required(),
                TemplateParam::init('userId', $userId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(User::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
