<?php

declare(strict_types=1);

/*
 * AdyenApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenApIsLib\Apis;

use AdyenApIsLib\Exceptions\DefaultErrorResponseEntityException;
use AdyenApIsLib\Exceptions\ServiceErrorException;
use AdyenApIsLib\Http\ApiResponse;
use AdyenApIsLib\Models\ApplePaySessionRequest;
use AdyenApIsLib\Models\ApplePaySessionResponse;
use AdyenApIsLib\Models\PaypalUpdateOrderRequest;
use AdyenApIsLib\Models\PaypalUpdateOrderResponse;
use AdyenApIsLib\Models\UtilityRequest;
use AdyenApIsLib\Models\UtilityResponse;
use AdyenApIsLib\Models\ValidateShopperIdRequest;
use AdyenApIsLib\Models\ValidateShopperIdResponse;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class UtilityApi extends BaseApi
{
    /**
     * You need to use this endpoint if you have an API-only integration with Apple Pay which uses Adyen's
     * Apple Pay certificate.
     *
     * The endpoint returns the Apple Pay session data which you need to complete the [Apple Pay session
     * validation](https://docs.adyen.com/payment-methods/apple-pay/api-only?tab=adyen-certificate-
     * validation_1#complete-apple-pay-session-validation).
     *
     * @param string|null $idempotencyKey A unique identifier for the message with a maximum of 64
     *        characters (we recommend a UUID).
     * @param ApplePaySessionRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function getApplePaySession(
        ?string $idempotencyKey = null,
        ?ApplePaySessionRequest $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/applePay/sessions')
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('Idempotency-Key', $idempotencyKey),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()->type(ApplePaySessionResponse::class)->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * This operation takes the origin domains and returns a JSON object containing the corresponding
     * origin keys for the domains.
     * > If you're still using origin key for your Web Drop-in or Components integration, we recommend
     * [switching to client key](https://docs.adyen.com/development-resources/client-side-
     * authentication/migrate-from-origin-key-to-client-key). This allows you to use a single key for all
     * origins, add or remove origins without generating a new key, and detect the card type from the
     * number entered in your payment form.
     *
     * @deprecated
     *
     * @param string|null $idempotencyKey A unique identifier for the message with a maximum of 64
     *        characters (we recommend a UUID).
     * @param UtilityRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function generateOriginKeys(?string $idempotencyKey = null, ?UtilityRequest $body = null): ApiResponse
    {
        trigger_error('Method ' . __METHOD__ . ' is deprecated.', E_USER_DEPRECATED);

        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/originKeys')
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('Idempotency-Key', $idempotencyKey),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('Unprocessable Entity - a request validation error.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorException::class
                )
            )
            ->type(UtilityResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Updates the order for PayPal Express Checkout. This can be used to update the PayPal lightbox with
     * an updated amount and delivery methods based on the delivery address.
     *
     * @param string|null $idempotencyKey A unique identifier for the message with a maximum of 64
     *        characters (we recommend a UUID).
     * @param PaypalUpdateOrderRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function updatePayPalOrder(
        ?string $idempotencyKey = null,
        ?PaypalUpdateOrderRequest $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/paypal/updateOrder')
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                HeaderParam::init('Content-Type', 'application/json'),
                HeaderParam::init('Idempotency-Key', $idempotencyKey),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    ServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init('Unprocessable Entity - a request validation error.', ServiceErrorException::class)
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    ServiceErrorException::class
                )
            )
            ->type(PaypalUpdateOrderResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Validates the shopperId.
     *
     *
     * @param ValidateShopperIdRequest $body
     *
     * @return ApiResponse Response from the API call
     */
    public function validateShopperId(ValidateShopperIdRequest $body): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/validateShopperId')
            ->parameters(HeaderParam::init('Content-Type', 'application/json'), BodyParam::init($body)->required());

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init(
                    'Unauthorized - authentication required.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    DefaultErrorResponseEntityException::class
                )
            )
            ->type(ValidateShopperIdResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
