<?php

declare(strict_types=1);

/*
 * AdyenApIsLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

namespace AdyenApIsLib\Apis;

use AdyenApIsLib\Exceptions\RestServiceErrorException;
use AdyenApIsLib\Http\ApiResponse;
use AdyenApIsLib\Models\CreateCompanyWebhookRequest;
use AdyenApIsLib\Models\GenerateHmacKeyResponse;
use AdyenApIsLib\Models\ListWebhooksResponse;
use AdyenApIsLib\Models\TestCompanyWebhookRequest;
use AdyenApIsLib\Models\TestWebhookResponse;
use AdyenApIsLib\Models\UpdateCompanyWebhookRequest;
use AdyenApIsLib\Models\Webhook;
use AdyenApIsLib\Server;
use Core\Request\Parameters\BodyParam;
use Core\Request\Parameters\HeaderParam;
use Core\Request\Parameters\QueryParam;
use Core\Request\Parameters\TemplateParam;
use Core\Response\Types\ErrorType;
use CoreInterfaces\Core\Request\RequestMethod;

class WebhooksCompanyLevelApi extends BaseApi
{
    /**
     * Lists all webhook configurations for the company account.
     *
     * To make this request, your API credential must have one of the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Webhooks read
     * * Management API—Webhooks read and write
     *
     * @param string $companyId Unique identifier of the [company
     *        account](https://docs.adyen.com/account/account-structure#company-account).
     * @param int|null $pageNumber The number of the page to fetch.
     * @param int|null $pageSize The number of items to have on a page, maximum 100. The default is
     *        10 items on a page.
     *
     * @return ApiResponse Response from the API call
     */
    public function getCompaniesCompanyIdWebhooks(
        string $companyId,
        ?int $pageNumber = null,
        ?int $pageSize = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/companies/{companyId}/webhooks')
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId)->required(),
                QueryParam::init('pageNumber', $pageNumber),
                QueryParam::init('pageSize', $pageSize)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(ListWebhooksResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Subscribe to receive webhook notifications about events related to your company account. You can add
     * basic authentication to make sure the data is secure.
     *
     * To make this request, your API credential must have the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Webhooks read and write
     *
     * @param string $companyId Unique identifier of the [company
     *        account](https://docs.adyen.com/account/account-structure#company-account).
     * @param CreateCompanyWebhookRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function postCompaniesCompanyIdWebhooks(
        string $companyId,
        ?CreateCompanyWebhookRequest $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::POST, '/companies/{companyId}/webhooks')
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(Webhook::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Remove the configuration for the webhook identified in the path.
     *
     * To make this request, your API credential must have the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Webhooks read and write
     *
     * @param string $companyId The unique identifier of the company account.
     * @param string $webhookId Unique identifier of the webhook configuration.
     *
     * @return ApiResponse Response from the API call
     */
    public function deleteCompaniesCompanyIdWebhooksWebhookId(string $companyId, string $webhookId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::DELETE, '/companies/{companyId}/webhooks/{webhookId}')
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId)->required(),
                TemplateParam::init('webhookId', $webhookId)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns the configuration for the webhook identified in the path.
     *
     * To make this request, your API credential must have one of the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Webhooks read
     * * Management API—Webhooks read and write
     *
     * @param string $companyId Unique identifier of the [company
     *        account](https://docs.adyen.com/account/account-structure#company-account).
     * @param string $webhookId Unique identifier of the webhook configuration.
     *
     * @return ApiResponse Response from the API call
     */
    public function getCompaniesCompanyIdWebhooksWebhookId(string $companyId, string $webhookId): ApiResponse
    {
        $_reqBuilder = $this->requestBuilder(RequestMethod::GET, '/companies/{companyId}/webhooks/{webhookId}')
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId)->required(),
                TemplateParam::init('webhookId', $webhookId)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(Webhook::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Make changes to the configuration of the webhook identified in the path. The request contains the
     * new values you want to have in the webhook configuration. The response contains the full
     * configuration for the webhook, which includes the new values from the request.
     *
     * To make this request, your API credential must have the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Webhooks read and write
     *
     * @param string $companyId The unique identifier of the company account.
     * @param string $webhookId Unique identifier of the webhook configuration.
     * @param UpdateCompanyWebhookRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function patchCompaniesCompanyIdWebhooksWebhookId(
        string $companyId,
        string $webhookId,
        ?UpdateCompanyWebhookRequest $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(RequestMethod::PATCH, '/companies/{companyId}/webhooks/{webhookId}')
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId)->required(),
                TemplateParam::init('webhookId', $webhookId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(Webhook::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Returns an [HMAC key](https://en.wikipedia.org/wiki/HMAC) for the webhook identified in the path.
     * This key allows you to check the integrity and the origin of the notifications you receive.By
     * creating an HMAC key, you start receiving [HMAC-signed notifications](https://docs.adyen.
     * com/development-resources/webhooks/verify-hmac-signatures#enable-hmac-signatures) from Adyen. Find
     * out more about how to [verify HMAC signatures](https://docs.adyen.com/development-
     * resources/webhooks/verify-hmac-signatures).
     *
     * To make this request, your API credential must have the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Webhooks read and write
     *
     * @param string $companyId The unique identifier of the company account.
     * @param string $webhookId Unique identifier of the webhook configuration.
     *
     * @return ApiResponse Response from the API call
     */
    public function postCompaniesCompanyIdWebhooksWebhookIdGenerateHmac(
        string $companyId,
        string $webhookId
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/companies/{companyId}/webhooks/{webhookId}/generateHmac'
        )
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId)->required(),
                TemplateParam::init('webhookId', $webhookId)->required()
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(GenerateHmacKeyResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }

    /**
     * Sends sample notifications to test if the webhook is set up correctly.
     *
     * We send sample notifications for maximum 20 of the merchant accounts that the webhook is configured
     * for. If the webhook is configured for more than 20 merchant accounts, use the `merchantIds` array to
     * specify a subset of the merchant accounts for which to send test notifications.
     *
     * We send four test notifications for each event code you choose. They cover success and failure
     * scenarios for the hard-coded currencies EUR and GBP, regardless of the currencies configured in the
     * merchant accounts. For custom notifications, we only send the specified custom notification.
     *
     * The response describes the result of the test. The `status` field tells you if the test was
     * successful or not. You can use the other response fields to troubleshoot unsuccessful tests.
     *
     * To make this request, your API credential must have the following [roles](https://docs.adyen.
     * com/development-resources/api-credentials#api-permissions):
     * * Management API—Webhooks read and write
     *
     * @param string $companyId The unique identifier of the company account.
     * @param string $webhookId Unique identifier of the webhook configuration.
     * @param TestCompanyWebhookRequest|null $body
     *
     * @return ApiResponse Response from the API call
     */
    public function postCompaniesCompanyIdWebhooksWebhookIdTest(
        string $companyId,
        string $webhookId,
        ?TestCompanyWebhookRequest $body = null
    ): ApiResponse {
        $_reqBuilder = $this->requestBuilder(
            RequestMethod::POST,
            '/companies/{companyId}/webhooks/{webhookId}/test'
        )
            ->server(Server::DEFAULT1)
            ->auth('BasicAuth', 'ApiKeyAuth')
            ->parameters(
                TemplateParam::init('companyId', $companyId)->required(),
                TemplateParam::init('webhookId', $webhookId)->required(),
                HeaderParam::init('Content-Type', 'application/json'),
                BodyParam::init($body)
            );

        $_resHandler = $this->responseHandler()
            ->throwErrorOn(
                '400',
                ErrorType::init(
                    'Bad Request - a problem reading or understanding the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '401',
                ErrorType::init('Unauthorized - authentication required.', RestServiceErrorException::class)
            )
            ->throwErrorOn(
                '403',
                ErrorType::init(
                    'Forbidden - insufficient permissions to process the request.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '422',
                ErrorType::init(
                    'Unprocessable Entity - a request validation error.',
                    RestServiceErrorException::class
                )
            )
            ->throwErrorOn(
                '500',
                ErrorType::init(
                    'Internal Server Error - the server could not process the request.',
                    RestServiceErrorException::class
                )
            )
            ->type(TestWebhookResponse::class)
            ->returnApiResponse();

        return $this->execute($_reqBuilder, $_resHandler);
    }
}
